<html>
<head>
	<title>Login</title>
</head>

<body>
	<div class="index-page">
        <h1>Hi {{{name}}}</h1>
        <form class="form" action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
        </form>
	</div>
</body>
</html>

